---

---
<div
    id="default-carousel"
    class="relative h-60 overflow-hidden rounded-lg md:h-220"
    data-carousel="slide"
>
    <!-- Carousel wrapper -->
    <div class="relative h-78 overflow-hidden rounded-lg md:h-210">
        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
                src="/src/assets/AdminCap.png"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="..."
            />
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
                src="/src/assets/EditCap.png"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="..."
            />
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img
                src="/src/assets/TaskCap.png"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="..."
            />
        </div>
    </div>
</div>
