---

---

<div
	class="w-65 h-full hidden fixed inset-y-0 start-0 z-60 bg-white border-e border-gray-200 lg:block lg:translate-x-0 lg:end-auto lg:bottom-0 dark:bg-neutral-800 dark:border-neutral-700"
>
	<div class="relative flex flex-col h-full max-h-full">
		<div class="px-6 pt-4 flex items-center">
			<!-- Logo 1080 > -->
			<a
				class="flex-none rounded-xl text-xl inline-block font-light focus:outline-hidden focus:opacity-80 text-amber-200"
				href="/admin"
				aria-label="Preline"
			>
				Task App
			</a>
			<!-- End Logo -->
		</div>

		<!-- Content -->
		<div
			class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
		>
			<nav
				class="hs-accordion-group p-3 w-full flex flex-col flex-wrap"
				data-hs-accordion-always-open
			>
				<ul class="flex flex-col space-y-1">
					<li>
						<a
							id="dashboard-link"
							class="flex items-center gap-x-3.5 py-2 px-2.5 bg-gray-100 text-sm text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:bg-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:text-white"
							href="#"
						>
							<svg
								class="shrink-0 size-4"
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							>
								<path
									d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
								></path>
								<polyline points="9 22 9 12 15 12 15 22"
								></polyline>
							</svg>
							Dashboard
						</a>
					</li>

					<li>
						<a
							href="/account"
							class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:text-neutral-200"
						>
							<svg
								class="shrink-0 mt-0.5 size-4"
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							>
								<circle cx="18" cy="15" r="3"></circle>
								<circle cx="9" cy="7" r="4"></circle>
								<path d="M10 15H6a4 4 0 0 0-4 4v2"></path>
								<path d="m21.7 16.4-.9-.3"></path>
								<path d="m15.2 13.9-.9-.3"></path>
								<path d="m16.6 18.7.3-.9"></path>
								<path d="m19.1 12.2.3-.9"></path>
								<path d="m19.6 18.7-.4-1"></path>
								<path d="m16.8 12.3-.4-1"></path>
								<path d="m14.3 16.6 1-.4"></path>
								<path d="m20.7 13.8 1-.4"></path>
							</svg>
							Account
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<!-- End Content -->
	</div>
</div>
